a.details:link    { color: #000 }  /* unvisited links */
a.details:visited { color: #000 }  /* visited links   */
a.details:hover   { color: #000 }  /* user hovers     */
a.details:active  { color: #555 }  /* active links    */

.btn-outline-secondary{
    margin: 15px
}

#priority0{
    color:#000000
}
#priority1{
    color:#67cf44
}
#priority2{
    color:#dec800
}
#priority3{
    color:#688eff
}
#priority4{
    color:#ff9b30
}
#priority5{
    color:#ff594d
}

#tag_label{
    background:#C2C2C2;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    font-size: 10px;
}