<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Remember</title>
    </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'Remember:index' %}" class="navbar-brand">
                <img src="https://png.icons8.com/ios/2x/circled-q-filled.png" width="30" height="30" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<button class="collapse navbar-collapse" id="navbarSupportedContent"-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="{% url 'Remember:index' %}" class="nav-link">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Remember:calendar' %}" class="nav-link">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Remember:dashboard' %}" class="nav-link">Dashboard</a>
                    </li>
                </ul>
                {% if user.username %}
                    <div class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'Remember:profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'Remember:logout' %}">Log out</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid" id="baseContainer">
            <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>