{% extends 'Remember/base.html' %}

{% block content %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'equinox/equinox.css' %}">
<!--<link rel="stylesheet" type="text/css" href="equinox/equinox.css">-->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<script type="text/javascript" src="{% static 'equinox/equinox.min.js' %}"></script>

<div class="event-calendar"></div>

{% if tasks %}
    <ul id="ul_tasks" class="tasks">
        {% for task in tasks %}
            <li class="task">
                <p class="task-name">{{ task.name }}</p>
                <p class="task-start">{{ task.start|date:"Y-m-d H:i" }}</p>
                <p class="task-end">{{ task.end|date:"Y-m-d H:i" }}</p>
                <p class="task-repeat">{{ task.repeat }}</p>
                <p class="task-details">{% url 'Remember:task_details' task.id %}</p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<script>
    let cal_tasks = []
    $('.tasks').each(function () {
        console.log("HERE");
        $(this).find('li').each(function () {
            task_name = $(this).find('.task-name').text();
            task_start = $(this).find('.task-start').text();
            task_end = $(this).find('.task-end').text();
            task_repeat = $(this).find('.task-repeat').text();
            task_details = $(this).find('.task-details').text();
            if(!task_start){
                task_start = task_end;
                console.log(task_start);
            }
            let my_color = '#0F0'
            if(task_repeat){
                my_color = '#F00';
            }
            cal_tasks.push({
                start: task_start,
                end: task_end,
                title: task_name,
                url: task_details,
                class: 'custom-class',
                color: my_color,
                data: {},
            });
        });
    });
    $('.event-calendar').equinox({
        events: cal_tasks,
    });

    document.getElementById("ul_tasks").style.display = "none";;
</script>

{% endblock %}















































