{% extends 'Remember/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            {% if dashboard %}
                {% for record in dashboard %}
                    {% include 'Remember/dashboard_record.html' %}
                {% endfor %}
            {% else %}
                <h1>No records</h1>
            {% endif %}
        </div>
        <div class="col">
            <div class="container-fluid bg-light sticky-top border rounded my-1 py-2">
                <form action="{% url 'Remember:dashboard' %}" method="post">
                    {% csrf_token %}
                    <div class="btn-group-vertical" style="width: 100%;">
                        <a class="btn btn-primary my-2" href="{% url 'Remember:index' %}">Back</a>
                        <input class="btn btn-outline-primary my-2" type="submit" name="records_clear_all" value="Clear all">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}