{% extends 'Remember/base.html' %}

{% block content %}

<div class="container-fluid my-5 py-5">
    <div class="row">
        <div class="col offset-4">
            {% block error_content %}

            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col offset-4">
            <a class="btn btn-primary" href="{% url 'Remember:index' %}">Back</a>
        </div>
    </div>
</div>

{% endblock %}