{% extends 'Remember/base.html' %}

{% block content %}

<div class="container-fluid my-5">
<form action="" method="post">
    {% csrf_token %}

    <!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>


    <div class="row">
        <div class="col offset-2 bg-light border rounded my-1 py-2">
            <table>
                {{ form.errors }}
                <div class="row">
                    <div class="col-4">
                        <label>Get exclusion by: </label>{{ form.id_type }}
                    </div>
                    <div class="col-8">
                        <div class="container-fluid" id="date_container">
                            <div class="row">
                                <div class="col-12">
                                    {{ form.date }}
                                </div>
                                <div class="col-12">
                                    {{ form.date.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" id="index_container">
                            <div class="row">
                                <div class="col-12">
                                    {{ form.index }}
                                </div>
                                <div class="col-12">
                                    {{ form.index.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row mx-1">
                    <label>Exclusion type: </label>{{ form.exclusion_type }}
                </div>
                <div class="row" id="task_edit_container">
                    <div class="col offset-2">
                        <div class="container-fluid">
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Description:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.description }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.description.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Tags:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.tags }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.tags.errors }}
                                    </div>
                                </div>
                            </div>

                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Assigned:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.assigned }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.assigned.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Priority:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.priority }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.priority.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Status:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.status }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.status.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Result:</label>
                                    </div>
                                    <div class="col">
                                        {{ form.result }}
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col offset-3">
                                        {{ form.result.errors }}
                                    </div>
                                </div>
                            </div>

                            <div class="fieldWrapper">
                                <div class="row my-1">
                                    <div class="col">
                                        {{ form.task_id }}
                                        {{ form.user }}
                                        {{ form.scope }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </table>

        </div>
        <div class="col-2">
            <div class="container-fluid bg-light border rounded my-1 py-2">
                <div class="btn-group-vertical" style="width: 100%;">
                    <a class="btn btn-danger" href="{% url 'Remember:task_edit_complex' form.task_id.value %} ">back</a>
                    <input class="btn btn-primary" type="submit" name="save" value="save">
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    var select = document.getElementById("id_id_type");
    var select_type = document.getElementById("id_exclusion_type");
    var date = document.getElementById("date_container");
    var index = document.getElementById("index_container");

    var task_edit_container = document.getElementById("task_edit_container");
    function on_select_change(){
        var new_value = select.options[select.selectedIndex].value
        if(new_value === 'I'){
            date.style.display = "none";
            index.style.display = "block";
        }
        else if (new_value === 'D'){
            date.style.display = "block";
            index.style.display = "none";
        }
    }
    function on_type_change(){
        var new_value = select_type.options[select_type.selectedIndex].value
        if(new_value === 'E'){
            task_edit_container.style.display = "block";
        }
        else if (new_value === 'D'){
            task_edit_container.style.display = "none";
        }
    }
    select.onchange = on_select_change;
    on_select_change();
    select_type.onchange = on_type_change;
    on_type_change();
</script>
</div>
{% endblock content %}