<div class="container bg-light border rounded my-1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Remember/task_list_styles.css' %} ">
    <div class="row">
        <div class="col my-2">
            <h5>
                {{ notification.get_target_display }}, on {{ notification.datetime }}
            </h5>
            {% if notification.text %}
                <br>
                {{ notification.text|truncatechars:100 }}
            {% else %}
                <br>
                No text provided
            {% endif %}
        </div>
        <div class="col-3">
            <div class="container-fluid">
                <form action="{% url 'Remember:task_edit_complex' notification.task.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                    <div class="btn-group-vertical py-2" style="width: 100%;">
                        <input class="btn btn-primary" type="submit" name="notif_edit" value="edit">
                        <input class="btn btn-primary" type="submit" name="notif_delete" value="delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

