{% extends 'Remember/base.html' %}

{% block content %}


    <!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row my-3">
            <div class="col offset-3 bg-light border rounded my-1 py-2">
                <table>
                    <div class="fieldWrapper">
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col-4">
                                    <label for="{{ form.target.id_for_label }}">Target:</label>
                                </div>
                                <div class="col">
                                    {{ form.target }}
                                    {% if form.target.help_text %}
                                        <p class="help">{{ form.target.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col offset-2">
                                    {{ form.target.errors }}
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="fieldWrapper">
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col-4">
                                    <label for="{{ form.time_type.id_for_label }}">Time type:</label>
                                </div>
                                <div class="col">
                                    {{ form.time_type }}
                                    {% if form.time_type.help_text %}
                                        <p class="help">{{ form.time_type.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col offset-2">
                                    {{ form.time_type.errors }}
                                </div>
                            </div>
                        </div>
                    </div>



                     <div class="fieldWrapper">
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col-4">
                                    <label for="{{ form.text.id_for_label }}">Text:</label>
                                </div>
                                <div class="col">
                                    {{ form.text }}
                                    {% if form.text.help_text %}
                                        <p class="help">{{ form.text.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col offset-2">
                                    {{ form.text.errors }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fieldWrapper">
                        <div class="container-fluid" id="datetime">
                            <div class="row my-2">
                                <div class="col-4">
                                    <label for="{{ form.datetime.id_for_label }}">Date time:</label>
                                </div>
                                <div class="col">
                                    {{ form.datetime }}
                                    {% if form.datetime.help_text %}
                                        <p class="help">{{ form.datetime.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col offset-2">
                                    {{ form.datetime.errors }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fieldWrapper">
                        <div class="container-fluid" id="delta">
                            <div class="row my-2">
                                <div class="col-4">
                                    <label>Delta:</label>
                                </div>
                                <div class="col">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                {{ form.hours }} hours,
                                            </div>
                                            <div class="col-12">
                                                {{ form.days }} days,
                                            </div>
                                            <div class="col-12">
                                                {{ form.weeks }} weeks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col offset-4">
                                    {{ form.hours.errors }}
                                    {{ form.days.errors }}
                                    {{ form.weeks.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
                {{ form.task_id }}
            </div>

            <div class="col-2">
                <div class="container-fluid bg-light border rounded my-1 py-2">
                    <div class="btn-group-vertical" style="width: 100%;">
                        <input type="submit" class="btn btn-primary" name="save" value="Save">
                        <a class="btn btn-danger" href="{% url 'Remember:task_edit_complex' form.task_id.value %}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <script>
        function on_select_change(){
            var select = document.getElementById("id_time_type");
            var new_value = select.options[select.selectedIndex].value
            var delta = document.getElementById("delta");
            var dt = document.getElementById("datetime");
            if(new_value === 'R'){
                dt.style.display = "none";
                delta.style.display = "block";
            }
            else if (new_value === 'A'){
                dt.style.display = "block";
                delta.style.display = "none";
            }
        }
        document.getElementById("id_time_type").onchange = on_select_change;
        on_select_change();
    </script>

{% endblock %}
