{% extends 'Remember/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="container-fluid bg-light border rounded my-1">
                {% if form.errors %}
                    {% for err in form.non_field_errors %}
                      <p class="form-error">{{ err }}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.email.label_tag }}</td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password1.label_tag }}</td>
                            <td>{{ form.password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password2.label_tag }}</td>
                            <td>{{ form.password2 }}</td>
                        </tr>
                    </table>
                    {{ form.user }}
                    <input type="submit" value="Save changes" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}