{% extends "Remember/base.html" %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                {{ form.non_field_errors }}
                {{ form.errors }}
            </div>
        </div>
    </div>


    <div class="row my-3">
        <div class="col offset-3 bg-light border rounded my-1 py-2">
            <table>
                <div class="fieldWrapper">
                    <div class="container-fluid">
                        <div class="row my-2">
                            <div class="col-2 offset-3">
                                <label for="{{ form.end.id_for_label }}">End:</label>
                            </div>
                            <div class="col">
                                {{ form.end }}
                                {% if form.end.help_text %}
                                    <p class="help">{{ form.end.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col offset-5">
                                {{ form.end.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fieldWrapper">
                    <div class="container-fluid">
                        <div class="row my-2">
                            <div class="col-2 offset-3">
                                <label for="{{ form.rule_type.id_for_label }}">Rule type:</label>
                            </div>
                            <div class="col">
                                {{ form.rule_type }}
                                {% if form.rule_type.help_text %}
                                    <p class="help">{{ form.rule_type.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fieldWrapper">
                    <div class="container-fluid" id="delta">
                        <div class="row my-2">
                            <div class="col-2 offset-3">
                                <label>Delta:</label>
                            </div>
                            <div class="col">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.rd_days }} days,
                                        </div>
                                        <div class="col-12">
                                            {{ form.rd_weeks }} weeks
                                        </div>
                                        <div class="col-12">
                                            {{ form.rd_months }} months,
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col offset-5">
                                {{ form.rd_days.errors }}
                                {{ form.rd_weeks.errors }}
                                {{ form.rd_months.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fieldWrapper">
                    <div class="container-fluid" id="every">
                        <div class="row my-2">
                            <div class="col offset-5">
                                {{ form.every_choices }}
                                {% if form.every_choices.help_text %}
                                    <p class="help">{{ form.every_choices.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col offset-5">
                                {{ form.every_choices.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fieldWrapper">
                    <div class="container-fluid" id="i_th">
                        <div class="row my-2">
                            <div class="col offset-5">
                                <div class="container-fluid">
                                    {{ form.i_th_i }}
                                    {{ form.i_th_week_day }}
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col offset-5">
                                {{ form.i_th_i.errors }}
                                {{ form.i_th_week_day.errors }}
                            </div>
                        </div>
                    </div>
                </div>
            </table>
            {{ form.task_id }}
        </div>
        <div class="col-2">
            <div class="container-fluid bg-light border rounded my-1 py-2">
                <div class="btn-group-vertical" style="width: 100%;">
                    <input type="submit" class="btn btn-primary" name="save" value="Save">
                    <a class="btn btn-danger" href="{% url 'Remember:task_edit_complex' form.task_id.value %}">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function on_select_change(){
        var delta = document.getElementById("delta");
        var every = document.getElementById("every");
        var i_th = document.getElementById("i_th");
        select = document.getElementById("id_rule_type")
        var new_value = select.options[select.selectedIndex].value
        if(new_value === 'RD'){
            every.style.display = "none";
            i_th.style.display = "none";
            delta.style.display = "block";
        }
        else if (new_value === 'E'){
            every.style.display = "block";
            i_th.style.display = "none";
            delta.style.display = "none";
        }
        else if (new_value === 'I'){
            every.style.display = "none";
            i_th.style.display = "block";
            delta.style.display = "none";
        }
        else{
            every.style.display = "none";
            i_th.style.display = "none";
            delta.style.display = "none";
        }
    }
    document.getElementById("id_rule_type").onchange = on_select_change;
    on_select_change();
</script>
{% endblock content %}