<div class="container bg-light border rounded my-1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Remember/task_list_styles.css' %} ">
    <div class="row">
        <div class="col">
            <h5>
                <!-- priority color -->
                <a class="details" id="details_link" href="{% url 'Remember:task_details' task.id %}">
                    {{ task.name }}
                </a>,
                {% if task.priority == 0 %}
                    <label id="priority0">priority: {{ task.priority }}</label>
                {% endif %}
                {% if task.priority == 1 %}
                    <label id="priority1">priority: {{ task.priority }}</label>
                {% endif %}
                {% if task.priority == 2 %}
                    <label id="priority2">priority: {{ task.priority }}</label>
                {% endif %}
                {% if task.priority == 3 %}
                    <label id="priority3">priority: {{ task.priority }}</label>
                {% endif %}
                {% if task.priority == 4 %}
                    <label id="priority4">priority: {{ task.priority }}</label>
                {% endif %}
                {% if task.priority == 5 %}
                    <label id="priority5">priority: {{ task.priority }}</label>
                {% endif %}
            </h5>

            {% if task.owner != user %}
            <h6 style="color:#c2a818;">Owned by {{ task.owner.username }}</h6>
            {% endif %}

            {% if task.repeat_of %}
                <h6>{{ task.repeat_of.rule_human_readable }}</h6>
                <h6>Next repeat - number {{ task.repeat_of.current_index }}, type
                    {% for rep in task.repeat_of.taskrepeatconnection_set.all %}
                        {% if rep.index == task.repeat_of.current_index %}
                            {{ rep.get_rep_type_display }}
                        {% endif %}
                    {% endfor %}
                </h6>
            {% endif %}

            {% for tag in task.tag_set.all %}
                <label id="tag_label">
                    {{ tag.name }}
                </label>
            {% endfor %}
            {% if task.tag_set.count %}
                <br>
            {% endif %}

            {% if task.description  %}
                {{ task.description  }}
                <br>
            {% endif %}
            Id:
            <label style="font-size:8pt">
                {{ task.id }}
            </label>
            {% if task.assigned %}
                <br>
                Assigned to: {{ task.assigned }}
            {% endif %}

            <br>
            {% if task.result %}
                Result: {{ task.get_result_display }}
            {% else %}
                Status: {{ task.status }}
            {% endif %}
        </div>
        <div class="col-2">
            <div class="container-fluid">
                <form action="{% url 'Remember:index' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <div class="btn-group-vertical py-2" style="width: 100%;">
                        <input class="btn btn-outline-primary" type="submit" name="edit" value="edit">
                        {% if task.owner == user %}
                        <input class="btn btn-outline-danger" type="submit" name="delete" value="delete">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

