{% extends 'Remember/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Remember/task_details.css' %} ">

<div class="container-fluid">
    <div class="row">
        <div class="col-9 offset-1">
            <div class="container-fluid bg-light border rounded my-1">
                <!-- Name & priority -->
                <div class="row px-4">
                    <h1>
                        {{ task.name }}, priority: {{ task.priority }}
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <!-- Main info -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Main info
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/main_info.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Notifications -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        Notifications
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/notifications.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Repeats -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        Repeats
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/repeats.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Subtasks -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        Subtask connections
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/subtasks.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Connections -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        Other connections
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/connections.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comments -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        Comments
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/comments.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Short log -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven"
                                        aria-expanded="true" aria-controls="collapseSeven">
                                        Log
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    {% include 'Remember/details/log.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-fluid bg-light border rounded my-1 py-2">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="btn-group-vertical" style="width: 100%;">
                        <input class="btn btn-primary" type="submit" name="edit" value="edit">
                        <a class="btn btn-primary" href="{% url 'Remember:index' %}">back</a>
                        {% if task.owner == user %}
                        <input class="btn btn-danger" type="submit" name="task_delete" value="delete">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
