{% extends 'Remember/task_form.html' %}

{% block form_extend %}

{% if task.owner == user %}
<div class="container-fluid bg-light sticky-top border rounded my-1 py-2">
    <div class="btn-group-vertical" style="width: 100%;">
        <a class="btn btn-outline-primary active" href="#">Basic</a>
        <a class="btn btn-outline-primary" href="{% url 'Remember:task_edit_complex' task.id %}">Extended</a>
    </div>
</div>
{% endif %}

{% endblock %}