{% extends "Remember/base.html" %}
{% load static %}

{% block content %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/mycss.css' %} ">-->
<!--<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="{% static 'Remember/tags.js' %} "></script>-->
<!--<link rel="script" href="{% static 'Remember/tags.js' %} "/>-->
<div class="container">
    <div class="row">
        <!-- List of tasks -->
        <div class="col-9">
            {% for task in tasks %}
                {% include "Remember/task_short_template.html" %}
            {% endfor %}
        </div>

        <!-- Side menu -->
        <div class="col-3">
            <div class="container-fluid bg-light sticky-top border rounded my-1 py-2">
                <form action="{% url 'Remember:index' %}" method="get">
                    {% csrf_token %}
                    <label for="tags">Tags: </label>
                    <input id="tags" type="text" name="tags" value="{{ tags }}">
                    <label for="task_name">Name: </label>
                    <input id="task_name" type="text" name="task_name" value="{{ task_name }}">
                    <div class="container-fluid">
                        <div class="btn-group-vertical" style="width: 100%;">
                            <input class="btn btn-outline-primary my-2" type="submit" value="Search" name="not_finished">
                            <input class="btn btn-outline-primary my-2" type="submit" value="Search finished" name="finished">
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid bg-light sticky-top border rounded my-1 py-2">
                <div class="btn-group-vertical" style="width: 100%;">
                    <a class="btn btn-primary" href="{% url 'Remember:task_new' %}">New task</a>
                </div>
            </div>
        </div>
      </div>
</div>

{% endblock content %}