{% extends "Remember/base.html" %}

{% block content %}
<div class="container-fluid my-3">

    <!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>-->

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-8 offset-2 bg-light border rounded my-1 py-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 offset-3">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                </div>
                <table>
                    {% for field in form.visible_fields %}
                        <div class="fieldWrapper">
                            <div class="container-fluid">
                                <div class="row my-2">
                                    <div class="col-2">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="col">
                                        {{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col offset-2">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in timelimit_form.visible_fields %}
                        <div class="fieldWrapper">
                            <div class="container-fluid">
                                <div class="row my-2">
                                    <div class="col-2">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="col">
                                        {{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col offset-2">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <div class="container-fluid bg-light sticky-top border rounded my-1 py-2">
                    <div class="btn-group-vertical" style="width: 100%;">
                        <input type="submit" class="btn btn-primary float-sm-right" value="Save">
                        <a class="btn btn-danger" href="{% url 'Remember:index' %}">Back</a>
                    </div>
                </div>
                {% block form_extend %}

                {% endblock %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
