<div class="container-fluid bg-light border rounded my-1 py-2">
    <div class="row">
        <div class="col-8">
            <h3>Repeat:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col offset-1">
            {% if task.repeat_of %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h4>Rule:</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col offset-1">
                                            <h5>{{ task.repeat_of.rule_human_readable }}.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="btn-group-vertical" style="width: 100%;">
                                    <input class="btn btn-primary" type="submit" name="repeat_change" value="change">
                                    <input class="btn btn-danger" type="submit" name="repeat_remove" value="remove">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p>
                {% if exclusions.items %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h4>Exclusions:</h4>
                            </div>
                            <div class="col-3">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="btn-group-vertical" style="width: 100%;">
                                        <input class="btn btn-primary" type="submit" name="exclusion_add" value="Add">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for excl, excl_task in exclusions.items %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="exclusion_index" value="{{ excl.index }}">
                                    <tr>
                                        <td>{{ excl.index }}</td>
                                        <td>{{ excl.get_rep_type_display }}</td>
                                        <td>
                                            {% if excl_task %}
                                                {{ excl_task.name }}
                                                {% if excl_task.description %}
                                                    ( {{ excl_task.description }} )
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input class="btn btn-outline-primary" type="submit"
                                                   name="exclusion_restore" value="Restore">
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h4>No exclusions</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="exclusion_add" value="Add">
                </form>
                {% endif %}
            {% else %}
                <h5>Task is not repeatable yet</h5>
                <label style="color: red;">{{ repeat_errors }}</label>
                <form action="" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="repeat_create" value="Create">
                </form>
            {% endif %}
        </div>
    </div>
</div>