<div class="container-fluid">
    {% for comment in task.comment_set.all %}
    <div class="row">
        <div class="col-9 offset-1">
            <div class="container-fluid" id="comment_container">
                <label style="font-size:22px">
                    {{ comment.text }}
                </label>
                <hr>
                <label style="font-size:12px">
                    {{ comment.time|date:"Y-m-d H:i" }} by {{ comment.user }}
                </label>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-9 offset-1">
            <form action="" method="post">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 my-1">
                            <input type="text" style="width:100%;" name="comment_text" id="add_comment_input">
                        </div>
                        <div class="col-2">
                            <div class="btn-group-vertical" style="width: 100%;">
                                <input class="btn btn-primary" style="width:100%;" type="submit" name="comment_add"
                                       value="Add">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>