<div class="container-fluid">
    {% if task.sent_connections.all %}
        <div class="container-fluid">
            <div class="row">
                <label>Connected to:</label>
            </div>
            <div class="col offset-1">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Target</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for connection in task.sent_connections.all %}
                            <tr>
                                <td>
                                    <label>
                                        <a href="{% url 'Remember:task_details' connection.receiver.id %}">
                                        {{ connection.receiver.name }}
                                        {% if connection.receiver.description %}
                                            ( {{ connection.receiver.description|truncatechars:40 }} )
                                        {% endif %}
                                        </a>
                                    </label>
                                </td>
                                <td>
                                    {{ connection.get_conn_type_display }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <label>Task isn't connected to anyone</label>
    {% endif %}

    <hr>

    {% if task.received_connections.all %}
        <div class="container-fluid">
            <div class="row">
                <label>Connected to it:</label>
            </div>
            <div class="col offset-1">
                 <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Target</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for connection in task.received_connections.all %}
                            <tr>
                                <td>
                                    <label>
                                        <a href="{% url 'Remember:task_details' connection.sender.id %}">
                                        {{ connection.sender.name }}
                                        {% if connection.sender.description %}
                                            ( {{ connection.sender.description|truncatechars:40 }} )
                                        {% endif %}
                                        </a>
                                    </label>
                                </td>
                                <td>
                                    {{ connection.get_conn_type_display }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <label>Other tasks are not connected to this</label>
    {% endif %}
</div>