<div class="container-fluid">
    <!-- description -->
    <div class="row">
        <div class="col-2">
            <label>Description:</label>
        </div>
        <div class="col">
            <label>
                {% if task.description %}
                {{ task.description }}
                {% else %}
                no description yet
                {% endif %}
            </label>
        </div>
    </div>
    <!-- tags -->
    <div class="row">
        <div class="col-2">
            <label>Tags:</label>
        </div>
        <div class="col">
            {% if task.tag_set.all %}
            {% for tag in task.tag_set.all %}
            <label id="tag_label">
                {{ tag.name }}
            </label>
            {% endfor %}
            {% else %}
            <label>
                No tags yet
            </label>
            {% endif %}
        </div>
    </div>
    <!-- assigned -->
    <div class="row">
        <div class="col-2">
            <label>Assigned to:</label>
        </div>
        <div class="col">
             <label>
                 {% if task.assigned %}
                 <em>{{ task.assigned.username }}</em>
                 {% else %}
                 Not yet
                 {% endif %}
             </label>
        </div>
    </div>
    <!-- status & result -->
    <div class="row">
        <div class="col-2">
            <label>
                {% if task.result != 'N' %}
                Result:
                {% else %}
                Status:
                {% endif %}
            </label>
        </div>
        <div class="col">
            <label>
                {% if task.result != 'N' %}
                {{ task.get_result_display }}
                {% else %}
                {{ task.status }}
                {% endif %}
            </label>
        </div>
    </div>
    <!-- scope -->
    <div class="row">
        <div class="col-2">
            <label>Scope:</label>
        </div>
        <div class="col">
             <label>{{ task.get_scope_display  }}</label>
        </div>
    </div>
    <!-- time limit -->
    <div class="row">
        <div class="col-2">
            <label>Time limit:</label>
        </div>
        <div class="col">
            {% if task.end %}
                {% if task.start %}
                    <label>from {{ task.start }} to </label>
                {% endif %}
                <label>{{ task.end }}</label>
            {% else %}
                <label>No timelimit</label>
            {% endif %}
        </div>
    </div>
</div>