{% if task.notification_set.all %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Target</th>
            <th scope="col">Date</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        {% for notification in task.notification_set.all %}
            <tr>
                <td>{{ notification.get_target_display }}</td>
                <td>{{ notification.datetime }}</td>
                <td>
                    {% if notification.text %}
                    {{ notification.text }}
                    {% else %}
                    No text provided
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <label>No notifications yet</label>
{% endif %}