<div class="container-fluid">
    {% if task.parent_connection %}
        <label>Subtask for
            <a href="{% url 'Remember:task_details' task.parent_connection.receiver.id %}">
                {{ task.parent_connection.receiver.name }}
                {% if task.parent_connection.receiver.description %}
                    ( {{ task.parent_connection.receiver.description }} )
                {% endif %}
            </a>
        </label>
    {% else %}
        <label>Task is not subtask for anyone</label>
    {% endif %}
    <hr>
    {% if task.child_connection %}
        <div class="container-fluid">
            <div class="row">
                <label>Subtasks:</label>
            </div>
            <div class="col offset-1">
                {% for connection in task.child_connection.all %}
                    <label>
                        <a href="{% url 'Remember:task_details' connection.sender.id %}">
                            {{ connection.sender.name }}
                            {% if connection.sender.description %}
                                ( {{ connection.sender.description }} )
                            {% endif %}
                        </a>
                    </label>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <label>Task has no subtasks</label>
    {% endif %}
</div>